* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

#div_form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#div_login {
    width: 300px;
    height: 350px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#div_login input[value="Iniciar sesión"]  {
    margin-right: 10px;
}

#div_registro {
    width: 300px;
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h3 {
    width: 100%;
    text-align: center;
    font-size: 20px;
}

label {
    width: 30%;
    height: 20px;
    margin-left: 5px;
}

input[type="text"] {
    width: 65%;
    padding: 8px;
    margin-right: 5px;
}

input[type="button"] {
    background: linear-gradient(to bottom right, #c3d488, #dbe4a9);
    border: 1px solid #afc57d;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 18px;
    font-family: Montserrat M;
}

input[type="button"]:hover {
    background: #a4b877;
    cursor: pointer;
    border: 1px solid #8ea064;
}

.hidden {
    display: none;
}