@font-face {
    font-family: Montserrat M;
    src: url(fonts/Montserrat-Medium.ttf);
}

body {
    font-family: Montserrat M;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #333;
}

nav {
    background: linear-gradient(to bottom right, #c3d488, #dbe4a9);
    display: flex;
    justify-content: center;
    padding: 10px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

nav a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 20px;
    transition: background 0.3s;
    border-radius: 5px;
}

nav a:hover {
    background: #a4b877;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

h2 {
    border-bottom: 2px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #c3d488;
    border-radius: 10px;
    background: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul li span {
    color: #333;
}
#form-agregar-contacto label {
    font-size: 18px;
}
#form-agregar-contacto input {
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 5px;
    border: 1px solid #c3d488;
    border-radius: 10px;
    width: 95%;
    background-color: #f9f9f9;
}
#form-agregar-contacto button {
    background: linear-gradient(to bottom right, #c3d488, #dbe4a9);
    border: 1px solid #afc57d;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 18px;
    font-family: Montserrat M;
}
#form-agregar-contacto button:hover {
    background: #a4b877;
    cursor: pointer;
    border: 1px solid #8ea064;
}

#form-buscar-contacto label {
    font-size: 18px;
}
#form-buscar-contacto input {
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 5px;
    border: 1px solid #c3d488;
    border-radius: 10px;
    width: 95%;
    background-color: #f9f9f9;
}
#form-buscar-contacto button {
    background: linear-gradient(to bottom right, #c3d488, #dbe4a9);
    border: 1px solid #afc57d;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 18px;
    font-family: Montserrat M;
}
#form-buscar-contacto button:hover {
    background: #a4b877;
    cursor: pointer;
    border: 1px solid #8ea064;
}

#form-eliminar-contacto label {
    font-size: 18px;
}
#form-eliminar-contacto input {
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 5px;
    border: 1px solid #c3d488;
    border-radius: 10px;
    width: 95%;
    background-color: #f9f9f9;
}
#form-eliminar-contacto button {
    background: linear-gradient(to bottom right, #c3d488, #dbe4a9);
    border: 1px solid #afc57d;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 18px;
    font-family: Montserrat M;
}
#form-eliminar-contacto button:hover {
    background: #a4b877;
    cursor: pointer;
    border: 1px solid #8ea064;
}